# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.Venv/
.venv/

# Environment variables
.env

# OS files
.DS_Store

# Streamlit cache
.streamlit/

# PyCharm settings
.idea/
